[Desktop Entry]
Exec=/usr/bin/quickreader
Icon=/usr/share/icons/hicolor/scalable/apps/quickreader-icon.svg
Name=Quick Reader
StartupNotify=true
Terminal=false
Type=Application